
body {
    font-family: 'MyWebFont', Fallback, sans-serif;
}

section {
    font-weight: lighter;
    color: navy;
}

h2 {
    color: red;
}

span {
    color: green;
}

p {
    color: purple !important;
}

p {
    color: yellow;
}

.lorem{
    border: 1px solid red;
    transform: translate(330px, 200px);
    display: inline;
    /* visibility: visible; */
}